# Pastas geradas pelo PyInstaller
build/
dist/
*.spec

# Cache do Python (arquivos .pyc)
__pycache__/
*.pyc

# Pastas de ambiente virtual
venv/
env/
.env

# Binários e Drivers (não é boa prática versionar arquivos de 100MB+)
*.exe
chromedriver.exe
Perfil_Bot_Shopee/
resources/*